PORT=
NODE_ENV=

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRE=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

CORS_ORIGIN=

OPENAI_API_KEY=

GEMINI_API_KEY=

DEFAULT_AI_MODEL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

VAPI_PUBLIC_KEY=
VAPI_PRIVATE_KEY=
# VAPI_WORKFLOW_ID_FOR_INTERVIEW_QUESTION_GENERATION=8e398abe-aefb-41e3-84aa-d8edc17abc5a